@import '../../styles/abstracts/variables';

.dashboard-hero {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;

  h2 {
    color: $primary;
    font-size: 7.2rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 6.4rem;
    position: relative;

    // &::after {
    //   background-color: $primary;
    //   content: '';
    //   display: block;
    //   height: 2px;
    //   left: 50%;
    //   position: absolute;
    //   top: calc(100% + 3.2rem);
    //   transform: translate(-50%, -50%);
    //   width: 100%;
    // }
  }
}
