@import '../../styles/abstracts/variables';

.header {
  align-items: center;
  background-color: darken($primary, 10);
  display: flex;
  height: 10rem;
  justify-content: center;
  padding: 1.6rem 3.2rem;
  position: fixed;
  width: 100%;
  z-index: 10;

  @media only screen and (max-width: $bp-small) {
    padding: 0.8rem 1.6rem;
  }

  .logo {
    height: auto;
    margin-left: auto;
    width: 12rem;

    @media only screen and (max-width: $bp-large) {
      margin-left: 0;
    }

    g {
      fill: $white;
    }
  }

  .btn {
    background-color: $white;
    border: 0;
    color: $primary;
    margin-left: auto;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.4rem;
      padding: 1rem 2rem;
    }

    &:focus,
    &:active,
    &:hover {
      background-color: darken($white, 5);
    }
  }
}
