@import '../../styles/abstracts/variables';

.routine-view {
  align-items: center;
  display: flex;
  flex-direction: column;

  .routine-exercises {
    border-collapse: collapse;
    margin-bottom: 4rem;
    width: 100%;
  }

  th {
    color: $primary;
    font-size: 2.4rem;
    font-weight: 400;
  }

  td,
  th {
    padding: 1.6rem;
    text-align: center;
  }

  tr.routine-exercise:nth-child(odd) {
    background-color: lighten($primary, 40);
  }

  tr.routine-exercise:nth-child(even) {
    background-color: lighten($primary, 10);
    color: $white;
  }

  .routine-svg {
    fill: $primary;
    height: auto;
    margin: 3.2rem 0;
    width: 15rem;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .btn:first-child span {
    margin-right: 1.6rem;
  }

  .btn:last-child span {
    margin-left: 1.6rem;
  }

  .btn:last-child {
    margin-left: 1.6rem;
  }
}
