*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  color: $black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}


// weird stuff to make the app full height
html,
body,
body > div:first-child,
div#__next {
  min-height: 100vh;
}

