.main-heading {
  color: $primary;
  font-size: 5rem;
  font-weight: 300;
  margin: 0 0 3.2rem;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    font-size: 4rem;
    margin: 0 0 2.4rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 2.4rem;
    margin: 0 0 1.6rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 2rem;
  }
}

.subtitle {
  color: $mid-grey;
  font-size: 2.4rem;
  font-weight: 300;
  margin: 0 0 1.6rem;
  text-align: center;
}

.subheading {
  color: $dark-grey;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 1.6rem;
  text-align: left;
  text-transform: uppercase;
}
