.exercises-content {
  display: flex;
  flex-direction: column;
  align-items: center;

    .exercises {
      display: flex;
      flex-wrap: wrap;
      margin-top: 3.6rem;
      flex: 1;
      justify-content: center;
      width: 100%;
    }

    form {
      border: 2px solid $primary;
      padding: 1.6rem;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1.6rem 4.8rem;
    }
  }
