@import '../../styles/abstracts/variables';

.create-meal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create-meal-footer {
  display: flex;
  justify-content: flex-end;

  @media only screen and (max-width: $bp-small) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.ingredients {
  border: 3px solid $primary;
  border-collapse: collapse;
  color: $black;
  margin-bottom: 6.4rem;
  text-align: center;
  width: 100%;

  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 3.2rem;
  }

  th,
  td {
    padding: 0.8rem 0;
  }

  th {
    background-color: $primary;
    color: $white;
  }

  th:not(:last-child) {
    width: 30%;
  }

  .ingredient:nth-child(even) {
    background-color: $lighter-grey;
  }

  svg {
    color: $error;
    transition: all 0.3s;

    &:hover,
    &:active,
    &:focus {
      color: darken($error, 10);
    }
  }
}
