@import '../../styles/abstracts/variables';

.create-meal-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .totals {
    background-color: $primary;
    border-radius: 3px;
    display: flex;
    margin-right: 3.2rem;
    padding: 1.6rem;
  }

  .total {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.6rem;
    text-align: center;
  }

  .total span:first-child {
    font-size: 5rem;
    margin-bottom: 0.8rem;
  }

  .total span:nth-child(2) {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.create-meal-footer {
  // align-items: center;
  display: flex;
  justify-content: flex-end;
}

.ingredients {
  border: 3px solid $primary;
  border-collapse: collapse;
  color: $black;
  margin-bottom: 6.4rem;
  text-align: center;
  width: 100%;

  th,
  td {
    padding: 0.8rem 0;
  }

  th {
    background-color: $primary;
    color: $white;
  }

  th:not(:last-child) {
    width: 30%;
  }

  .ingredient:nth-child(even) {
    background-color: $lighter-grey;
  }

  svg {
    color: $error;
    transition: all 0.3s;

    &:hover,
    &:active,
    &:focus {
      color: darken($error, 10);
    }
  }
}
