.form-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  svg.main-svg {
    fill: $primary;
    height: auto;
    width: 20rem;
  }

  .form {
    width: 50rem;
  }
}
