@import '../../styles/abstracts/variables';

.routine {
  border: 2px solid $primary;
  border-radius: 3px;
  margin: 0 1.6rem 3.2rem;
  width: 100%;

  .routine-day {
    background-color: $primary;
    color: $white;
    font-weight: 400;
    margin: 0;
    padding: 1.6rem;
  }

  .routine-info {
    display: flex;
    font-weight: 400;
    margin: 0;
    padding: 1.6rem;

    span {
      color: $primary;
      font-weight: 600;
    }
  }

  .routine-detail {
    &:not(:last-child) {
      margin-right: 3.2rem;
    }
  }

  .routine-link:link,
  .routine-link:visited {
    border-bottom: 1px solid transparent;
    color: $primary;
    display: block;
    font-size: 1.6rem;
    margin-left: auto;
    text-decoration: none;
    transition: all 0.2s;
  }

  .routine-link:active,
  .routine-link:focus,
  .routine-link:hover {
    border-bottom: 1px solid $primary;
  }
}
